
    /*external css*/
    body{
        background-color: lightblue;
    }
    h1{
        color: white;
        text-align: center;
    }
    p{/*this is seclector */
        color: red;/*property:value;*/
        font-size: 20px;
    }
   #x{/*id selector*/
        color: green;
        font-size: 10px;
    }
    /*rgb color:0-255*/
    /*hexadecimal color:#000000-#ffffff*/
    /*types of css selector*/
    /*1.element selector*/
    h2{
        color: purple;
        font-size: 25px;
        margin: 20px;
    }
    /*2.universal selector*/
    *{
        font-family: Arial, sans-serif;
    }
    /*3.class selector*/
    .bigg{
        color: blue;
        font-size: 30px;
    }
    /*4.id selector*/
    #small{
        color: orange;
        font-size: 15px;
    }
    /*5.grouping selector*/
    h1,h2{
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: lightsalmon;
    }
    /*create simple div with an id(box) add some text contant inside div set its background color to blue*/
 /*create 3 headings with h1,h2,and h3 give them all a class heading and set their color to red*/
    /*ccreate a button and set its background color to green using css style sheet,blue using style tag,pink using inline css*/